@page "/weather"

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th aria-label="Temperature in Celsius">Temp. (C)</th>
            <th aria-label="Temperature in Fahrenheit">Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.Value.ToShortDateString()</td>
                <td>@forecast.TemperatureC.Value</td>
                <td>@forecast.TemperatureC.InFahrenheit</td>
                <td>@forecast.Summary.Value</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate a loading indicator
        await Task.Delay(500);

        // Vogen still works in Blazor files - uncomment for
        // VOG010: Type 'ForecastDate' cannot be constructed with 'new' as it is prohibited
        // ForecastDate? d = new();

        var startDate = DateOnly.FromDateTime(DateTime.Now);
        var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
        forecasts = Enumerable.Range(1, 5).Select(index => new WeatherForecast
        {
            Date = ForecastDate.From(startDate.AddDays(index)),
            TemperatureC = Celcius.From(Random.Shared.Next(-20, 55)),
            Summary = WeatherSummary.From(summaries[Random.Shared.Next(summaries.Length)])
        }).ToArray();
    }

    private class WeatherForecast
    {
        public ForecastDate Date { get; set; }
        public Celcius TemperatureC { get; set; }
        public WeatherSummary Summary { get; set; }
    }
}