name: Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '*' ]

jobs:
  ubuntu-latest:
    name: ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4.1.0
        with:
          dotnet-version: |
            8.0.x
            7.0.x
            6.0.x
            5.0.x
            3.1.x
      - name: Build and Test
        run: ./Build.ps1
        shell: pwsh
  windows-latest:
    name: windows-latest
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4.1.0
        with:
          dotnet-version: |
            8.0.x
            7.0.x
            6.0.x
            5.0.x
            3.1.x
      - name: Build and Test
        run: ./Build.ps1
        shell: pwsh
  run-snapshots:
    name: run-snapshots
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4.1.0
        with:
          dotnet-version: |
            8.0.x
      - name: Run Snapshots
        run: ./RunSnapshots.ps1
        shell: pwsh
  macOS-latest:
    name: macOS-latest
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4.1.0
        with:
          dotnet-version: |
            8.0.x
            7.0.x
            6.0.x
            5.0.x
            3.1.x
      - name: Build and Test
        run: ./Build.ps1
        shell: pwsh
